<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.deleteTestMethod(java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">deleteTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:17</td>   <td>3285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.deleteTestMethod(java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">deleteTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:18</td>   <td>4566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.getTestMethod(java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">getTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:20</td>   <td>6240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.getTestMethod(java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">getTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:20</td>   <td>6920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.getTestMethod(java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">getTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:24</td>   <td>10138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.postTestMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">postTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:25</td>   <td>11523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.putTestMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">putTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:17:26</td>   <td>12216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.putTestMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bookProject.TestClass@7219ec67]">putTestMethod</td> 
  <td>main@1008925772</td>   <td></td> </tr>
<tr bgcolor="b3e29f">  <td>20/07/10 15:16:53</td>   <td>-20460</td> <td title="&gt;&gt;TestClass.takingDataFileNameFromUser()[pri:0, instance:bookProject.TestClass@7219ec67]">&gt;&gt;takingDataFileNameFromUser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1008925772</td>   <td></td> </tr>
</table>
